
__________________________________________________________________________________________________________________________________________________________

<p style="display:inline; font-weight:bold;">Categories:</p><% @project.categories.each do |category| %> |
  <%= link_to category.name, category_path(category) %>
<% end %>
<br></br>

<p style="display:inline; font-weight:bold;">Title:</p> <%= @project.title %><br></br>
<p style="display:inline; font-weight:bold;">Description:</p> <%= @project.description %><br></br>

  <% if @project.user_id == current_user.id %>
      <%= link_to 'Edit', edit_project_path %> | <%= link_to "Delete", @project, method: :delete, data: { confirm: "WAIT! Seriously?" } %>
  <% end %>

__________________________________________________________________________________________________________________________________________________________

<!-- validation erros, move to partial-->

<%= link_to "New Comment", new_project_comment_path(@project) %>
<p style="font-weight:bold;">Comments:</p>
<% @project_comments.each do |comment| %>
  <div class="container" style="border : solid 2px #ff0000; color:blue; padding : 4px; width : 800px; height : 200px; overflow : auto; ">
   ~> <%= comment.description %><br>
   <% if comment.user_id == current_user.id %>
       <%= link_to 'Edit', edit_project_comment_path(comment.project_id) %> | <%= link_to "Delete", comment, method: :delete, data: { confirm: "WAIT! Seriously?" } %>
   <% end %>
 </div><br>
<% end %>
