
__________________________________________________________________________________________________________________________________________________________

Categories:
<% @project.categories.each do |category| %> |
  <%= link_to category.name, category_path(category) %>
<% end %>
<br></br>

Title: <%= @project.title %><br></br>
Description: <%= @project.description %><br></br>

<% if current_user %>
  <%= link_to 'Edit', edit_project_path %>
<% end %>

__________________________________________________________________________________________________________________________________________________________

<%= link_to "New Comment", new_project_comment_path(@project) %>
<p>Comments:</p>
<% @project.comments.each do |comment| %>
  <div class="container" style="border : solid 2px #ff0000; color:blue; padding : 4px; width : 800px; height : 200px; overflow : auto; ">
   ~> <%= comment.description %>
 </div><br>
<% end %>
