<!-- this needs to be put in a partial -->
<div class="container">
  <p style="color:red" >Search projects by category:</p>
  <% Category.all.each do |category| %> |
    <% if logged_in? %>
      <%= link_to category.name, category_path(category) %>
    <% else %>
      <%= category.name %>
    <% end %>
  <% end %>
</div>

<!-- this needs to be put in a partial -->
<div class="container">
  __________________________________________________________________________________________________________________________________________________________
</div>

<div class="container">
  <p style="color:red">List of Projects:</p>
  <% @projects.each do |project| %>
    <% if logged_in? %>
      <p><%= link_to project.title, project_path(project) %></p>
    <% else %>
      <p><%= project.title %></p>
    <% end %>
  <% end %>
</div>

<% if logged_in? %>
  <div class="container">
    <%= link_to 'Contribute to DYI', new_project_path %>
  </div>
<% end %>
